.chatroom-main {
	width: 75vw;
	float: right;
}

.room-title {
	padding-left: 20px;
}

.chat-area {
	width: 100%;
}

.message-area {
	background-color: #eee;
	height: 50px;
}

.username {
	font-weight: 800;
}

.message {

}

.current-user-message {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.current-user-message li {
	display: inline;
	padding: 0;
	margin: 0;
}

.date-sent {
	float: right;
	font-size: 0.75em;
}