*, *::before, *::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
}

/*.container {
	position: relative;
	padding: 0 0 0 25vw;
	height: 100vh;
}*/

.navbar {
	height: 100vw;
	background-color: #eee;
}

.nav-content-container {
	padding: 25px 0 0 25px;
}

.navbar a {
	font-size: 2em;
	color: #444;
	font-weight: 500;
	text-decoration: none;
}

.rooms-container {
	padding: 0;
	list-style-type: none;
}

.rooms-container li {
	padding-bottom: 10px;
}

.rooms-container a {
	font-size: 1em;
	color: #777;
	font-weight: 100;
}

.navbar button {
	padding: 10px;
	border: none;
	background-color: #fff;
	color: #777;
}

.container {
	margin: 0;
	padding: 0;
}