<div class="container">
	<div class="row">
		<div class="col-md-3">
			<nav class="navbar">
				<div class="nav-content-container">
					<a class="logo">Bloc Chat</a>
						<ul class="rooms-container">
							<li ng-repeat="room in chatroom.rooms">
								<a ui-sref="chatroom" ng-click="chatroom.newChat(room)" class="avail-chat-room">{{ room.name }}</a>
							</li>
						</ul>
					<button ng-click="chatroom.open()">New Chat Room</button>
				</div>
			</nav>
		</div>

		<section class="col-md-9">
			<h2>{{ chatroom.activeRoom.name }}</h2>
				<div ng-repeat="message in chatroom.messages">
					<ul class="current-user-message">
						<li class="username">{{ message.username }}:</li>
						<li class="date-sent">{{ message.sentAt }}</li>
					</ul>
					<p class="message">{{ message.content }}</p>
				</div>
		</section>

	</div>
</div>
